@charset 'UTF-8';
@import 'modern-css-reset/dist/reset.min.css';

:root {
  --theme-main: #63ccf7;
  --fg-main: #393939;
  --fg-theme: #5fc5ff;
  --fg-theme-deep: #348AC8;
  --fg-secondary: #636363;

  --header-height: 60px;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .container {
    width: 640px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
}

.markdown-wrapper {
  max-width: 792px;
  margin: 0 auto;
  padding: 32px 20px 100px;

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    color: var(--theme-main);
    font-size: 1.5rem;
    width: 100%;
    border-bottom: 2px solid var(--theme-main);
    margin: 4rem 0 1rem;
  }
  h3 {
    color: var(--theme-main);
    font-size: 1.3rem;
    margin: 2.5rem 0 1rem;
  }
  h4 {
    font-size: 1.3rem;
    margin: 2.5rem 0 0.5rem;
  }
  a {
    color: #2078e5;
    text-decoration: underline;
  }
  p {
    margin-bottom: 1rem;
  }
  hr {
    border-top: 2px solid #ccc;
    margin: 1.5rem auto;
    width: 70%;
    min-width: 200px;
  }


  img, media, figure {
    margin: 2rem auto;
  }
  figure > img {
    margin: .5rem auto;
  }
}
