@charset 'UTF-8';
@import 'modern-css-reset/dist/reset.min.css';

:root {
  --c-primary-main: #20adf9;
  --c-primary-dark: #2980c0;
  --c-primary-light: #7ed0ff;
  --c-body: #202020;
  --c-secondary: #696969;

  --height-header: 60px;
  --height-footer: 60px;
}

* {
  font-weight: unset;
  font-size: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: var(--c-body);
  background-color: #fff;
  min-height: unset;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  font-size: 80%;
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.--hover-underline:hover {
  text-decoration: underline;
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
    padding: 0 18px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
    padding: 0 24px;
  }
}
