@charset 'UTF-8';
@import "modern-css-reset/dist/reset.min.css";
@import "@/styles/_bg-patterns.scss";

:root {
  --c-body: #202020;
  --c-primary-light: #7ed0ff;
  --c-primary-main: #20adf9;
  --c-primary-dark: #2980c0;
  --c-secondary-light: #d3d3d3;
  --c-secondary-main: #909090;
  --c-secondary-dark: #4c4c4c;
  --font-logo: "Sarpanch", sans-serif;

  --height-header: 60px;
  --height-footer: 60px;
}

* {
  font-weight: unset;
  font-size: unset;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: var(--c-body);
  min-height: unset;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  font-size: 80%;
  text-align: center;
}

rt {
  font-weight: 500;
  font-size: 0.3em;
}

.--full-vh {
  min-height: calc(100vh - var(--height-header) - var(--height-footer));
}

.--hover-underline:hover {
  text-decoration: underline;
}

.--logo-font {
  font-family: var(--font-logo);
  font-weight: 800;
}

.--bg-cross-dots-pattern {
  @include bg-cross-dots-pattern();
}
